* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: #fff;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin: 0 50px;
}

nav a {
    font-family: 'Kanit', sans-serif;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    padding: 6.2% 25px;
    transition: background-color 0.0s;
}

nav a:hover {
    background-color: #fff;
    color: #000;
}



main {
  padding-top: 0px;
}

#chartContainer {
  width: 60%;
  margin: 0 auto;
  background-color: #fefefe;
  padding: 20px;
  border-radius: 8px;
}

.text-section {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  padding-bottom: 50px;
  position: relative;
  flex-direction: column;
  margin-top: 8%;
  margin-left: 15%;
  margin-right: 15%
}


.text-section h1 {
    font-size: 3rem;
    margin-bottom: 2%;
}

.text-section p {
    font-size: 1.2rem;
    margin-top: 3%;
}

.text-section myp {
    font-size: 1.2rem;
    margin-top: 1%;
}



.hero {
  background-image: url('images/index/Home.gif');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 50px;
  position: relative;
}

.hero h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 8rem;
  position: absolute;
  top: 45%;
  left: 6%;
  text-align: left;
}

.hero h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 2rem;
  position: absolute;
  top: 90%;
  left: 6%;
  text-align: left;
}

.slider img {
width: 100%;
height: 300px;
object-fit: cover;
}

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Open+Sans:300,400|Oswald:400,700');

.slick-slide {
	transform: scale(0.6);
	transition: all 1s ease-in-out;
	padding: 40px 0;
}


.slick-slide img {
	max-width: 100%;
	transition: all 0.4s ease-in-out;
}

.slick-center {
	transform: scale(1.15);
}

.slide-description {
    border-radius: 8px;
    text-align: center;
    margin-top: 10px;
}

.slide-description h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.slide-description p {
    font-size: .8rem;
    line-height: 1.5;
}





.swiper-container {
  width: 70%;
  height: 400px;
 }

.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.swiper-slide img {
  width: 60%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}
.slide-text {
  font-size: 18px;
  color: #fff;
}







.chat-room {
  width: 100%;
  margin: 20px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #222;
  color: #fff;
}

.chat-area {
  height: 50vh;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.profile-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-content {
  display: flex;
  flex-direction: column;
}

.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.sender-name {
  font-weight: bold;
  margin-right: 5px;
  font-size: 30px;
}

.input-area input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-right: 5px;
  font-size: 14px;
  color: #333;

}

.input-area button {
  padding: 10px 15px;
  border: none;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
}

.sender-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sender-name,
.message-time {
  margin: 0;
}




